[submodule "StormByte Suite - Buffer"]
	path = thirdparty/StormByte/buffer/src
	url = https://github.com/StormBytePP/StormByte-Buffer.git
[submodule "StormByte BuildMaster"]
	path = thirdparty/buildmaster
	url = https://github.com/StormBytePP/StormByte-BuildMaster.git
